body {
    min-width: 320px;
    max-width: 750px;
    /* flexible 给我们划分了 10 等份 */
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #f2f2f2;
}
@media screen and (min-width:750px) {
	html{
	font-size:75px !important;
}
}
a{
	text-decoration: none;
}
.search-content{
	display: flex;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 10rem;
	height: 1.173333rem;
	background-color: #ffbb00;
	
}
.classify{
	width: 0.6rem;
	height: 0.933333rem;
	margin: 0.146666rem 0.333333rem 0.133333rem ;
	background: url(../images/classify.png)no-repeat;
	background-size:0.6rem  0.933333rem;
}
.search{
	flex: 1;
}
.search input{
	outline: none;
	width: 100%;
	height: 0.88rem;
	border: 0;
	font-size: 0.333333rem;
	background-color: #fdeed0;
	margin-top: 0.133333rem;
	border-radius: 0.44rem;
	padding-left: 0.733333rem;
	color: #747673;
}
.login{
	width:1rem ;
	height: 0.933333rem;
	margin: 0.133333rem;
	font-size: 0.333333rem;
	text-align: center;
	line-height: 0.933333rem;
}